<%- include('layout') %>

<h2>Edit Student</h2>

<form method="POST" action="/students/<%= student._id %>">
  <p>Name:<br>
    <input name="name" value="<%= student.name %>">
  </p>
  <p>Age:<br>
    <input name="age" value="<%= student.age %>">
  </p>
  <p>Course:<br>
    <input name="course" value="<%= student.course %>">
  </p>
  <p>Email:<br>
    <input name="email" value="<%= student.email %>">
  </p>
  <button>Update</button>
</form>

