<% layout('layout') %>
<h2>Edit Student</h2>
<form method="POST" action="/students/<%= student._id %>">
<input name="name" value="<%= student.name %>" class="form-control mb-2">
<input name="age" value="<%= student.age %>" class="form-control mb-2">
<input name="course" value="<%= student.course %>" class="form-control mb-2">
<input name="email" value="<%= student.email %>" class="form-control mb-2">
<button class="btn btn-primary">Update</button>
</form>